.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* here's my css variables */
:root {
    --backgroun-lightgray: #707070;
    --backgroun-color-white: #ffffff;
    --font-color-blue: #003B99;
    --font-color-white: #ffffff;
    --font-color-black: #000000;
    --header-color: #4D8BFC;
    --header-color-2: #D5E6FE;
    --border-box-shadow-color: #b3b1b1;
    --catogory-color: #E7D6D6;
    --rating-color: #E9DB16;
    --logo-color-black: #000000;
    --logo-color-white: #ffffff;

    --font-family: "Jost", sans-serif;

    --line-height-lg: 5rem;
    --line-height-md: 2rem;
    --line-height-sm: 1rem;

    --ctnr-padding: 10rem 0 0 0;
    --ctnr-padding-sm: 1rem;
    --mb-padding: 3.5rem;
    --buttton-padding: 1rem;
    --add-to-cart-buttton-padding: 1rem 1.5rem;

    --margin-lg: 3rem;
    --margin-md: 2rem;
    --margin-sm: 1rem;

    --font-size-xl: 4.5rem;
    --font-size-lg: 3rem;
    --font-size-md-2: 2rem;
    --font-size-md: 1.6rem;
    --font-size-sm: 1.3rem;
    --catogory-font-size: 1.2rem;
    --logo-font-size: 1.4rem;

    --font-weight-xl: bold;
    --font-weight-lg: 500;
    --font-weight-md: 400;
    --font-weight-sm: 300;

    --letter-spacing: .1rem;

    --border-radius: .5rem;
}

/* home last container's animation */
@keyframes pic-ani {
    0%{background-color: var(--header-color);}
    100%{background-color: var(--header-color-2);}
}


/* my font size's media query start */
html {
    font-size: 62.5%;
}

@media (min-width:1200px) {
    html {
        font-size: 68.75%;
    }
}

@media (min-width:1000px) {
    html {
        font-size: 68.75%;
    }

    .my-nav-inner div {
        position: relative !important;
        transform-origin: top;
        transform: scale(1) !important;
        transition: 0.5s;
    }

    .header-ctnr {
        margin-top: 0 !important;
    }
}

@media (max-width:992px) {
    html {
        font-size: 62.5%;
    }

    .my-nav-inner div {
        position: absolute;
        left: 1rem;
        top: 6rem;
        transform-origin: top;
        transform: scale(0);
        transition: 0.5s;
        z-index: 1;
    }

    .my-nav-inner div nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start !important;
    }

    .nav-btn {
        display: block !important;
    }

    .my-nav-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-ctnr div div {
        display: flex;
        flex-direction: column-reverse;
    }

    .ctnr-1-mb-inner{
        position: absolute;
        right: -27rem;
        bottom: -13rem;
        background-color: #E9DB16;
    }

    #header-text-sec {
        display: flex;
        flex-direction: column;
    }

    .ctnr-1-mb-img {
        width: 50%;
    }

    #ctnr-1-mb-inner-2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (max-width:768px) {
    html {
        font-size: 56.25%;
    }

    .ctnr-2 div:nth-child(2){
        order: -1;
    }

    .ctnr-2-mb-text , .ctnr-2-mb-text-2{
        align-self: flex-start !important;
    }

    .ctnr-2-mb-text-4{
        text-align: left !important;
    }

    #topbar-btn-sec{
        display: flex;
        justify-content: center !important;
        align-items: center;
    }
}

@media (max-width:576px) {
    html {
        font-size: 50%;
    }
}

/* my font size's media query end */


/* my E-commerce app start */

/* navbar start */
.heading {
    color: var(--font-color-white);
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
}

.sign-in {
    background-color: var(--backgroun-color-white);
    font-size: var(--font-size-md);
    text-transform: uppercase;
    border: none;
    font-family: var(--font-family);
    padding: var(--buttton-padding);
    border-radius: var(--border-radius);
}

.topbar,
.my-nav {
    padding: var(--ctnr-padding-sm);
    position: relative;
}

.my-nav-2{
    padding: var(--ctnr-padding-sm);
    position: relative;
    box-shadow: .4rem .8rem 1rem var(--border-box-shadow-color);
}

.nav-text {
    color: var(--font-color-black);
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-lg);
    font-family: var(--font-family);
}

.cart-btn {
    background-color: var(--font-color-black);
    border: none;
    color: var(--font-color-white);
    padding: var(--buttton-padding);
    font-size: var(--font-size-sm);
    border-radius: var(--border-radius);
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
}

.cart-btn span {
    font-family: var(--font-family);
}

.nav-btn {
    border: none;
    background-color: transparent;
    font-size: var(--font-size-lg);
    padding: 0;
    position: absolute;
    right: 1rem;
}

#topbar-btn-sec{
    display: flex;
    justify-content: end;
    align-items: center;
}

/* navbar end */


/* header start */
.header-ctnr {
    background: linear-gradient(to right, #4D8BFC, #D5E6FE);
    padding: 10rem 0;
    position: relative;
    transition: 0.5s;
}

.header-text {
    color: var(--font-color-blue);
    font-size: var(--font-size-sm);
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-xl);
}

.header-text-2 {
    color: var(--font-color-blue);
    font-size: var(--font-size-xl);
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-xl);
}

.header-text-3 {
    color: var(--font-color-white);
    font-size: var(--font-size-md);
    font-family: var(--font-family);
}

/* header's waving's code */
.custom-shape-divider-bottom-1716577343 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716577343 svg {
    position: relative;
    display: block;
    width: calc(133% + 1.3px);
    height: 147px;
}

.custom-shape-divider-bottom-1716577343 .shape-fill {
    fill: #FFFFFF;
}

/* header's waving's code end*/
/* header end */



/* contianer 1 start */
.ctnr-1-mb {
    background-color: var(--backgroun-color-white);
    position: relative;
    overflow: hidden;
}

.ctnr-1-mb div :nth-child(2) {
    z-index: 5;
}

.ctnr-1-mb-text {
    color: var(--font-color-blue);
    font-size: var(--font-size-xsm);
    font-family: var(--font-family);
}

.ctnr-1-mb-text-2 {
    color: var(--font-color-black);
    font-size: var(--font-size-md-2);
    font-family: var(--font-family);
    font-weight: var(--font-weight-lg);
    line-height: var(--line-height-md);
}

.ctnr-1-mb-text-3 {
    color: var(--font-color-black);
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    text-decoration: underline;
    cursor: pointer;
}

.ctnr-1-mb-inner {
    background-color: var(--header-color-2);
    height: 25rem;
    width: 15rem;
    border-radius: 100%;
    position: absolute;
    right: -17rem;
    bottom: -13rem;
}

.ctnr-1 div:nth-child(3) div:nth-child(2) {
    transform: rotate(10deg);
}

.ctnr-1-mb i {
    color: var(--header-color);
    font-size: var(--font-size-lg);
}

.ctnr-1-mb-text-4 {
    color: var(--backgroun-lightgray);
    font-size: var(--font-size-md);
    font-family: var(--font-family);
}

.ctnr-1-mb-text-5 {
    color: var(--backgroun-lightgray);
    font-size: var(--font-size-sm);
    font-family: var(--font-family);
}

/* contianer 1 end */




/* products section start */
.ctnr-1-mb-text-2 span{
    text-decoration: line-through;
}

.product-btn-sec div:nth-child(2) div:nth-child(1){
    border-radius: .5rem 0 0 .5rem;
}

.product-btn-sec div:nth-child(2) div:nth-child(3){
    border-radius: 0 .5rem .5rem 0;
}

.product-btn{
    border: .1rem solid rgb(197, 197, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-btn button{
    border: none;
    background-color: transparent;
    color: var(--font-color-black);
    font-weight: var(--font-weight-lg);
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    padding: .3rem 1rem;
}

.product-mb{
    box-shadow: .2rem .4rem 1rem var(--border-box-shadow-color);
    border-radius: var(--border-radius);
}

.product-text{
    color: var(--backgroun-lightgray);
    background-color: var(--catogory-color);
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    padding: var(--buttton-padding);
    text-transform: capitalize;
    display: inline;
    border-radius: 6rem;
}

.product-icon-sec i{
    color: var(--rating-color);
    font-size: 1rem;
}

.add-to-cart-btn{
    background-color: var(--font-color-black);
    color: var(--font-color-white);
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    text-transform: capitalize;
    padding: var(--add-to-cart-buttton-padding);
    border-radius: var(--border-radius);
    transition: 0.5s;
    border:.2rem solid transparent;
}

.add-to-cart-btn:hover{
    border: .2rem solid var(--font-color-black);
    color: var(--font-color-black);
    background-color: transparent;
}

.product-added-notification-div{
    background-color: var(--font-color-black);
    border-radius: var(--border-radius);
    padding: var(--buttton-padding);
    color: var(--font-color-white);
    font-family: var(--font-family);
    position: absolute;
    top: 2rem;
    right: 0;
    font-size: var(--font-size-md);
    transform: translateX(23rem);
    transition: transform 0.5s;  
}

/* products section end */





/* contianer 2 start */
.ctnr-2-text{
    color: var(--font-color-black);
    font-size: var(--font-size-lg);
    font-family: var(--font-family);
    font-weight: var(--font-weight-lg);
}

.ctnr-2-mb-text{
    color: var(--header-color);
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    background-color: var(--header-color-2);
    border-radius: 100%;
    padding: 1.2rem 2rem;
    display: inline-block;
    align-self: flex-end;
}

.ctnr-2-mb-text-2{
    color: var(--font-color-black);
    font-size: var(--font-size-md-2);
    font-family: var(--font-family);
    font-weight: var(--font-weight-lg);
    line-height: var(--line-height-md);
    align-self: flex-end;
}

.ctnr-2-mb{
    position: relative;
    border: .1rem solid transparent;
    display: flex;
    flex-direction: column;
}

.ctnr-2-img{
    background-color: var(--header-color);
    border-radius: 100%;
    animation: pic-ani 2s alternate infinite ;
}

.ctnr-2-img-parent{
    border: .3rem solid var(--header-color-2);
    border-radius: 100%;
}

.ctnr-2-mb-text-3{
    color: var(--header-color);
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    background-color: var(--header-color-2);
    border-radius: 100%;
    padding: 1.2rem 2rem;
    display: inline-block;
    align-self: flex-start;
}

.ctnr-2-mb-text-4{
    color: var(--backgroun-lightgray);
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    text-align: right;
}

/* contianer 2 end */



/* footer start */
.footer-pages-sec{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer-input{
    border-bottom: .1rem solid var(--backgroun-color-white);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: var(--backgroun-color-white);
    background-color: var(--font-color-black);
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    padding: 1rem;
}

.footer-input::placeholder{
    color:var(--border-box-shadow-color);
    text-transform: capitalize;
}

.footer-ctnr{
    padding: 10rem 0;
}

.author{
    border-top: .1rem solid var(--font-color-white);
    padding: 5rem 0 0 0;
}

.author a{
    text-decoration: underline;
    color: var(--font-color-white);
}
/* footer end */




/* add to cart page */
.add-to-cart-final-total-div{
    background-color: transparent;
    border: .3rem solid var(--font-color-black);
}

.final-total-heading{
    color: var(--font-color-black);
    font-family: var(--font-family);
    font-size: var(--font-size-md);
}

.fianl-total-sub-heading{
    color: var(--backgroun-lightgray);
    font-family: var(--font-family);
    font-size: var(--font-size-md);
}

.fianl-total{
    color: var(--font-color-black);
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-xl);
}

.add-to-cart-ctnr{
    padding: 10rem 0;
}
/* add to cart page end */






/* contact page's code start */
.cn-form-text{
    color: var(--font-color-black);
    font-size: var(--font-size-md);
    font-family: var(--font-family);
}

.cn-form{
    font-family: var(--font-family);
    outline: none;
    font-size: var(--font-size-md);    
}

.cn-form::placeholder{
    text-transform: capitalize;
}

.cn-form-main-sec{
    margin-bottom: 10rem;
    transition: 0.5s;
}
/* contact page's code end */


/* my E-commerce app end */






/* those classes which i used permanantly */
.rough {
    border: .1rem solid rgb(0, 0, 0);
}

.hide {
    display: none;
}

html a {
    text-decoration: none;
}

.ctnr-padding {
    padding: var(--ctnr-padding);
}